:root {
  --color-bg: #262626;
  --color-bg-hover: #2d2d2d;
  --color-text: #ffffff;
  --color-border: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 2.3em;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 88%;
  text-align: center;
}

section {
  min-height: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.demo-container {
  margin: 8vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0.1vw solid var(--color-border);
  border-radius: 4px;
  background: white;
  color: black;
  transition: 0.2s ease;
  font-size: 2em;
  font-weight: bold;
  align-content: center;
  overflow: hidden;
}
/* .demo-container:hover {
    background-color: var(--color-bg-hover);
  } */

.demo-name {
  min-width: 20vw;
  min-height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  background: white;
  color: black;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}
.demo-text {
  margin-left: 10vw;
  margin-left: 18vw;
  transition: 0.2s ease-in-out;
}

.demo-code {
  font-size: 0.8em;
  background-color: #2d2d2d;
  width: min-content;
  height: min-content;
  font-size: 0.4em;
  margin-left: 18vw;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  font-size: 0.8em;
  cursor: none;
  width: 0;
  opacity: 0;
}

.demo-container:hover .demo-text {
  margin-left: 10vw;
}
.demo-container:hover .demo-code {
  opacity: 1;
  width: 28vw;
  cursor: text;
}
pre {
  color: white;
  font-size: 0.9em;
  padding: 2em 1em;
}
