:root {
  --color-bg: #262626;
  --color-bg-hover: #2d2d2d;
  --color-text: #ffffff;
  --color-border: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 2.3em;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 88%;
  text-align: center;
}

section {
  min-height: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.demo-section {
  margin: 8vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0.1vw solid var(--color-border);
  border-radius: 4px;
  background: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
  align-content: center;
}
/* .demo-section:hover {
    background-color: var(--color-bg-hover);
  } */

.demo-name {
  min-width: 20vw;
  min-height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  background: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.demo-code {
  min-height: 30vh;
  font-size: 0.8em;

  background-color: #2d2d2d;
  display: none;
  transition: 0.2s ease-in-out;
}

.code {
  background: #242424;
  color: white;
  overflow: auto;
  width: auto;
  border: solid #3e3e3e;
  padding: 0;
  border-width: 0;
  width: 0;
  transition: 0.2s ease-in-out;
}
.demo-section:hover .code {
  border-width: 0.1em 0.1em 0.1em 0.8em;
  padding: 0.2em 0.6em;
  width: auto;
}
.demo-section:hover .demo-code {
  display: block;
}
