:root {
  --color-bg: #262626;
  --color-bg-hover: #2d2d2d;
  --color-text: #ffffff;
  --color-border: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 2.3em;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 88%;
  text-align: center;
}

section {
  min-height: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.demo-section {
  margin: 8vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 0.1vw solid var(--color-border);
  border-radius: 4px;
  background: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
}
/* .demo-section:hover {
    background-color: var(--color-bg-hover);
  } */
