/*
JOS v0.7 By Jesvi Jonathan
*/
.jos {
  opacity: 1;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.jos-anchor {
  opacity: 0;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.jos-fade-default {
  opacity: 0;
  transform: (0);
}

.jos-fade {
  opacity: 0;
}
.jos-fade-right {
  opacity: 0;
  transform: translateX(-100px);
}
.jos-slide,
.jos-slide-right {
  transform: translateX(-100px);
}
.jos-slide-up {
  transform: translateY(100px);
}
.jos-slide-down {
  transform: translateY(-100px);
}
.jos-fade-left {
  opacity: 0;
  transform: translateX(100px);
}
.jos-slide-left {
  transform: translateX(100px);
}
.jos-fade-up {
  opacity: 0;
  transform: translateY(50px);
}
.jos-fade-down {
  opacity: 0;
  transform: translateY(-50px);
}

.jos-zoom,
.jos-grow .jos-zoom-out {
  opacity: 0;
  transform: scale(0.8);
}
.jos-zoom-out-left,
.jos-grow-left {
  opacity: 0;
  transform: scale(0.8) translate3d(100px, 0px, -100px);
}
.jos-zoom-out-down,
.jos-grow-down {
  opacity: 0;
  transform: scale(0.8) translate3d(0px, -100px, 0px);
}
.jos-zoom-out-up,
.jos-grow-up {
  opacity: 0;
  transform: scale(0.8) translate3d(0px, 100px, 0px);
}
.jos-zoom-out-right,
.jos-grow-right {
  opacity: 0;
  transform: scale(0.8) translate3d(-100px, 0px, -100px);
}
.jos-zoom-in,
.jos-shrink {
  opacity: 0;
  transform: scale(1.1);
}
.jos-zoom-in-down,
.jos-shrink-down {
  opacity: 0;
  transform: scale(1.1) translate3d(0px, -100px, 0px);
}
.jos-zoom-in-up,
.jos-shrink-up {
  opacity: 0;
  transform: scale(1.1) translate3d(0px, 100px, 0px);
}
.jos-zoom-in-right,
.jos-shrink-right {
  opacity: 0;
  transform: scale(1.1) translate3d(-100px, 0px, -100px);
}
.jos-zoom-in-left,
.jos-shrink-left {
  opacity: 0;
  transform: scale(1.1) translate3d(100px, 0px, -100px);
}
/* .jos-zoom-right {
  opacity: 0;
  transform: translateX(-100px) scale(0);
}
.jos-zoom-left {
  opacity: 0;
  transform: translateX(100px) scale(0);
} */

.jos-zoom-up,
.jos-zoom-out-up,
.jos-grow-up {
  opacity: 0;
  transform: translateY(50px) scale(0);
}
.jos-zoom-down,
.jos-zoom-out-down,
.jos-grow-down {
  opacity: 0;
  transform: translateY(-50px) scale(0);
}

.jos-flip {
  transform: perspective(2500px) rotateY(-100deg);
  opacity: 0;
}
.jos-flip-left {
  transform: perspective(2500px) rotateY(100deg);
  opacity: 0;
}

.jos-flip-up {
  opacity: 0;
  transform: perspective(2500px) rotateX(-100deg);
}
.jos-flip-down {
  opacity: 0;
  transform: perspective(2500px) rotateX(100deg);
}
.jos-rotate,
.jos-rotate-left {
  opacity: 0;
  transform: rotate(180deg);
}
.jos-rotate-right {
  opacity: 0;
  transform: rotate(-180deg);
}
.jos-spin,
.jos-spin-left {
  opacity: 0;
  transform: rotate(180deg) scale(0);
}
.jos-spin-right {
  opacity: 0;
  transform: rotate(-180deg) scale(0);
}

.jos-revolve,
.jos-revolve-left {
  opacity: 0;
  transform: rotate(360deg) scale(0);
}
.jos-revolve-right {
  opacity: 0;
  transform: rotate(-360deg) scale(0);
}
.jos-stretch {
  opacity: 0;
  transform: scaleX(0);
}
.jos-stretch-vertical {
  opacity: 0;
  transform: scaleY(0);
}
[data-jos_pow="0.1"] {
  transform: rotateY(calc(0.1 * 360deg));
}
[data-jos_pow="0.2"] {
  transform: rotateY(calc(0.2 * 360deg));
}
[data-jos_pow="0.3"] {
  transform: rotateY(calc(0.3 * 360deg));
}
[data-jos_pow="0.4"] {
  transform: rotateY(calc(0.4 * 360deg));
}
[data-jos_pow="0.5"] {
  transform: rotateY(calc(0.5 * 360deg));
}
[data-jos_pow="0.6"] {
  transform: rotateY(calc(0.6 * 360deg));
}
[data-jos_pow="0.7"] {
  transform: rotateY(calc(0.7 * 360deg));
}
[data-jos_pow="0.8"] {
  transform: rotateY(calc(0.8 * 360deg));
}
[data-jos_pow="0.9"] {
  transform: rotateY(calc(0.9 * 360deg));
}
[data-jos_pow="1"] {
  transform: rotateY(calc(1 * 360deg));
}

[data-jos_timing_function="ease"] {
  transition-timing-function: ease !important;
}
[data-jos_timing_function="ease-in"] {
  transition-timing-function: ease-in !important;
}
[data-jos_timing_function="ease-out"] {
  transition-timing-function: ease-out !important;
}
[data-jos_timing_function="ease-in-out"] {
  transition-timing-function: ease-in-out !important;
}
[data-jos_timing_function="linear"] {
  transition-timing-function: linear !important;
}
[data-jos_timing_function="cubic-bezier"] {
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1) !important;
}
[data-jos_timing_function="step-start"] {
  transition-timing-function: step-start !important;
}
[data-jos_timing_function="step-end"] {
  transition-timing-function: step-end !important;
}
[data-jos_timing_function="steps"] {
  transition-timing-function: steps(5, end) !important;
}
[data-jos_timing_function="frames"] {
  transition-timing-function: frames(5) !important;
}
[data-jos_timing_function="initial"] {
  transition-timing-function: initial !important;
}
[data-jos_timing_function="inherit"] {
  transition-timing-function: inherit !important;
}
[data-jos_timing_function="unset"] {
  transition-timing-function: unset !important;
}

[data-jos_duration="0.1"] {
  transition-duration: 0.1s !important;
}
[data-jos_duration="0.2"] {
  transition-duration: 0.2s !important;
}
[data-jos_duration="0.3"] {
  transition-duration: 0.3s !important;
}
[data-jos_duration="0.4"] {
  transition-duration: 0.4s !important;
}
[data-jos_duration="0.5"] {
  transition-duration: 0.5s !important;
}
[data-jos_duration="0.6"] {
  transition-duration: 0.6s !important;
}
[data-jos_duration="0.7"] {
  transition-duration: 0.7s !important;
}
[data-jos_duration="0.8"] {
  transition-duration: 0.8s !important;
}
[data-jos_duration="0.9"] {
  transition-duration: 0.9s !important;
}
[data-jos_duration="1"] {
  transition-duration: 1s !important;
}
[data-jos_duration="2"] {
  transition-duration: 2s !important;
}
[data-jos_duration="3"] {
  transition-duration: 3s !important;
}
[data-jos_duration="4"] {
  transition-duration: 4s !important;
}
[data-jos_duration="5"] {
  transition: 5s !important;
}
[data-jos_duration="6"] {
  transition-duration: 1s !important;
}
[data-jos_duration="7"] {
  transition-duration: 2s !important;
}
[data-jos_duration="8"] {
  transition-duration: 3s !important;
}
[data-jos_duration="9"] {
  transition-duration: 4s !important;
}
[data-jos_duration="10"] {
  transition: 5s !important;
}
