/*
JOS v0.8.4 By Jesvi Jonathan
*/

/* jos default */
.jos {
  /* opacity: 1;
  display: block; */
  transition: transform, opacity 0.5s;
  transition-timing-function: ease-in-out;
}
.jos:not([class]):not([class*="display"]):not(:has([class*="display"])) {
  display: block;
}

.jos-anchor {
  opacity: 0;
  transition: transform, opacity 0.5s;
  transition-timing-function: ease-in-out;
}
.jos-static {
  transform: translate(0, 0);
  opacity: 1;
}

/* fade */
.jos-fade {
  opacity: 0;
}
.jos-fade-right {
  opacity: 0;
  transform: translateX(-100px);
}
.jos-fade-left {
  opacity: 0;
  transform: translateX(100px);
}
.jos-fade-up {
  opacity: 0;
  transform: translateY(50px);
}
.jos-fade-down {
  opacity: 0;
  transform: translateY(-50px);
}
.jos-fade-right-up {
  opacity: 0;
  transform: translateX(-100px) translateY(50px);
}
.jos-fade-right-down {
  opacity: 0;
  transform: translateX(-100px) translateY(-50px);
}
.jos-fade-left-up {
  opacity: 0;
  transform: translateX(100px) translateY(50px);
}
.jos-fade-left-down {
  opacity: 0;
  transform: translateX(100px) translateY(-50px);
}

/* slide */

.jos-slide,
.jos-slide-right {
  transform: translateX(-100px);
}
.jos-slide-left {
  transform: translateX(100px);
}
.jos-slide-up {
  transform: translateY(100px);
}
.jos-slide-down {
  transform: translateY(-100px);
}
.jos-slide-right-up {
  transform: translateX(-100px) translateY(100px);
}
.jos-slide-right-down {
  transform: translateX(-100px) translateY(-100px);
}
.jos-slide-left-up {
  transform: translateX(100px) translateY(100px);
}
.jos-slide-left-down {
  transform: translateX(100px) translateY(-100px);
}

/* zoom out */
.jos-zoom,
.jos-zoom-out {
  opacity: 0;
  transform: scale(0.8);
}
.jos-zoom-out-right,
.jos-zoom-right {
  opacity: 0;
  transform: scale(0.8) translate3d(-100px, 0px, -100px);
}
.jos-zoom-out-left,
.jos-zoom-left {
  opacity: 0;
  transform: scale(0.8) translate3d(100px, 0px, -100px);
}
.jos-zoom-out-down,
.jos-zoom-down {
  opacity: 0;
  transform: scale(0.8) translate3d(0px, -100px, 0px);
}
.jos-zoom-out-up,
.jos-zoom-up {
  opacity: 0;
  transform: scale(0.8) translate3d(0px, 100px, 0px);
}

/* grow */
.jos-grow {
  transform: scale(0);
}
.jos-grow-right {
  transform: scale(0) translate3d(-100px, 0px, -100px);
}
.jos-grow-left {
  transform: scale(0) translate3d(100px, 0px, -100px);
}
.jos-grow-down {
  transform: scale(0) translate3d(0px, -100px, 0px);
}
.jos-grow-up {
  transform: scale(0) translate3d(0px, 100px, 0px);
}

/* zoom in  */
.jos-zoom-in {
  opacity: 0;
  transform: scale(1.1);
}
.jos-zoom-in-down {
  opacity: 0;
  transform: scale(1.1) translate3d(0px, -100px, 0px);
}
.jos-zoom-in-up {
  opacity: 0;
  transform: scale(1.1) translate3d(0px, 100px, 0px);
}
.jos-zoom-in-right {
  opacity: 0;
  transform: scale(1.1) translate3d(-100px, 0px, -100px);
}
.jos-zoom-in-left {
  opacity: 0;
  transform: scale(1.1) translate3d(100px, 0px, -100px);
}

/* shrink */
.jos-shrink {
  transform: scale(1.4);
}
.jos-shrink-right {
  transform: scale(1.4) translate3d(-100px, 0px, -100px);
}
.jos-shrink-left {
  transform: scale(1.4) translate3d(100px, 0px, -100px);
}
.jos-shrink-down {
  transform: scale(1.4) translate3d(0px, -100px, 0px);
}
.jos-shrink-up {
  transform: scale(1.4) translate3d(0px, 100px, 0px);
}

/* flip */
.jos-flip,
.jos-flip-right {
  transform: perspective(2500px) rotateY(-100deg);
  opacity: 0;
}
.jos-flip-left {
  transform: perspective(2500px) rotateY(100deg);
  opacity: 0;
}
.jos-flip-up {
  opacity: 0;
  transform: perspective(2500px) rotateX(-100deg);
}
.jos-flip-down {
  opacity: 0;
  transform: perspective(2500px) rotateX(100deg);
}

/* rotate */
.jos-rotate,
.jos-rotate-right {
  opacity: 0;
  transform: rotate(-180deg);
}
.jos-rotate-left {
  opacity: 0;
  transform: rotate(180deg);
}

/* spin */
.jos-spin,
.jos-spin-right {
  opacity: 0;
  transform: rotate(-180deg) scale(0);
}
.jos-spin-left {
  opacity: 0;
  transform: rotate(180deg) scale(0);
}

/* revolve */
.jos-revolve,
.jos-revolve-right {
  opacity: 0;
  transform: rotate(-360deg) scale(0);
}
.jos-revolve-left {
  opacity: 0;
  transform: rotate(360deg) scale(0);
}

/* stretch */
.jos-stretch {
  opacity: 0;
  transform: scaleX(0);
}
.jos-stretch-vertical {
  opacity: 0;
  transform: scaleY(0);
}

/* pow attribute */
[data-jos_pow="0.1"] {
  transform: rotateY(calc(0.1 * 360deg));
}
[data-jos_pow="0.2"] {
  transform: rotateY(calc(0.2 * 360deg));
}
[data-jos_pow="0.3"] {
  transform: rotateY(calc(0.3 * 360deg));
}
[data-jos_pow="0.4"] {
  transform: rotateY(calc(0.4 * 360deg));
}
[data-jos_pow="0.5"] {
  transform: rotateY(calc(0.5 * 360deg));
}
[data-jos_pow="0.6"] {
  transform: rotateY(calc(0.6 * 360deg));
}
[data-jos_pow="0.7"] {
  transform: rotateY(calc(0.7 * 360deg));
}
[data-jos_pow="0.8"] {
  transform: rotateY(calc(0.8 * 360deg));
}
[data-jos_pow="0.9"] {
  transform: rotateY(calc(0.9 * 360deg));
}
[data-jos_pow="1"] {
  transform: rotateY(calc(1 * 360deg));
}

/* timing function attribute */
[data-jos_timing_function="ease"] {
  transition-timing-function: ease !important;
}
[data-jos_timing_function="ease-in"] {
  transition-timing-function: ease-in !important;
}
[data-jos_timing_function="ease-out"] {
  transition-timing-function: ease-out !important;
}
[data-jos_timing_function="ease-in-out"] {
  transition-timing-function: ease-in-out !important;
}
[data-jos_timing_function="linear"] {
  transition-timing-function: linear !important;
}
[data-jos_timing_function="cubic-bezier"] {
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1) !important;
}
[data-jos_timing_function="step-start"] {
  transition-timing-function: step-start !important;
}
[data-jos_timing_function="step-end"] {
  transition-timing-function: step-end !important;
}
[data-jos_timing_function="steps"] {
  transition-timing-function: steps(5, end) !important;
}
[data-jos_timing_function="frames"] {
  transition-timing-function: frames(5) !important;
}
[data-jos_timing_function="initial"] {
  transition-timing-function: initial !important;
}
[data-jos_timing_function="inherit"] {
  transition-timing-function: inherit !important;
}
[data-jos_timing_function="unset"] {
  transition-timing-function: unset !important;
}

/* duration attribute */
[data-jos_duration="0.1"] {
  transition-duration: 0.1s !important;
}
[data-jos_duration="0.2"] {
  transition-duration: 0.2s !important;
}
[data-jos_duration="0.3"] {
  transition-duration: 0.3s !important;
}
[data-jos_duration="0.4"] {
  transition-duration: 0.4s !important;
}
[data-jos_duration="0.5"] {
  transition-duration: 0.5s !important;
}
[data-jos_duration="0.6"] {
  transition-duration: 0.6s !important;
}
[data-jos_duration="0.7"] {
  transition-duration: 0.7s !important;
}
[data-jos_duration="0.8"] {
  transition-duration: 0.8s !important;
}
[data-jos_duration="0.9"] {
  transition-duration: 0.9s !important;
}
[data-jos_duration="1"] {
  transition-duration: 1s !important;
}
[data-jos_duration="2"] {
  transition-duration: 2s !important;
}
[data-jos_duration="3"] {
  transition-duration: 3s !important;
}
[data-jos_duration="4"] {
  transition-duration: 4s !important;
}
[data-jos_duration="5"] {
  transition: 5s !important;
}
[data-jos_duration="6"] {
  transition-duration: 1s !important;
}
[data-jos_duration="7"] {
  transition-duration: 2s !important;
}
[data-jos_duration="8"] {
  transition-duration: 3s !important;
}
[data-jos_duration="9"] {
  transition-duration: 4s !important;
}
[data-jos_duration="10"] {
  transition: 5s !important;
}

/* Delay Attribute */
[data-jos_delay="0.1"] {
  transition-delay: 0.1s !important;
}
[data-jos_delay="0.2"] {
  transition-delay: 0.2s !important;
}
[data-jos_delay="0.3"] {
  transition-delay: 0.3s !important;
}
[data-jos_delay="0.4"] {
  transition-delay: 0.4s !important;
}
[data-jos_delay="0.5"] {
  transition-delay: 0.5s !important;
}
[data-jos_delay="0.6"] {
  transition-delay: 0.6s !important;
}
[data-jos_delay="0.7"] {
  transition-delay: 0.7s !important;
}
[data-jos_delay="0.8"] {
  transition-delay: 0.8s !important;
}
[data-jos_delay="0.9"] {
  transition-delay: 0.9s !important;
}
[data-jos_delay="1"] {
  transition-delay: 1s !important;
}
[data-jos_delay="2"] {
  transition-delay: 2s !important;
}
[data-jos_delay="3"] {
  transition-delay: 3s !important;
}
[data-jos_delay="4"] {
  transition-delay: 4s !important;
}
[data-jos_delay="5"] {
  transition-delay: 5s !important;
}

/* Playable animations */

.jos-slide-play,
.jos-slide-horizontal-play {
  transition: 1s;
  animation: jos-slide-play 0.7s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
@keyframes jos-slide-play {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(100px);
  }
}

.jos-slide-vertical-play {
  animation: jos-slide-vertical-play 0.7s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
@keyframes jos-slide-vertical-play {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(100px);
  }
}

.jos-zoom-in-play,
.jos-pulse-play {
  animation: jos-zoom-in-play 1s infinite;
  animation-direction: alternate;
}

@keyframes jos-zoom-in-play {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}

.jos-zoom-play,
.jos-zoom-out-play,
.jos-pulse-out-play {
  animation: jos-zoom-play 0.5s linear infinite;
  animation-direction: alternate;
}

@keyframes jos-zoom-play {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.jos-flip-play {
  animation: jos-flip-play 0.7s infinite;
  animation-direction: alternate;
}
@keyframes jos-flip-play {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.jos-rotate-play {
  animation: jos-rotate-play 1s linear forwards infinite;
  border-radius: 0%;
  animation-direction: alternate-reverse;
}

@keyframes jos-rotate-play {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.jos-spin-play {
  animation: jos-spin-play 1.5s infinite;
  animation-direction: alternate;
}
@keyframes jos-spin-play {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.jos-revolve-play {
  animation: jos-revolve-play 1.5s infinite;
  animation-direction: alternate;
}
@keyframes jos-revolve-play {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.jos-grow-play,
.jos-shrink-play {
  animation: jos-grow-play 1s infinite;
  animation-direction: alternate;
}
@keyframes jos-grow-play {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.jos-shrink-play {
  animation-direction: alternate-reverse;
}

.jos-stretch-play {
  animation: jos-stretch-play 0.7s infinite;
  animation-direction: alternate;
}

@keyframes jos-stretch-play {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.jos-stretch-vertical-play {
  animation: jos-stretch-vertical-play 0.7s infinite;
  animation-direction: alternate-reverse;
}

@keyframes jos-stretch-vertical-play {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

.jos-fade-play {
  animation: jos-fade-play 0.8s infinite;
  animation-direction: alternate;
}

@keyframes jos-fade-play {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.jos-fade-horizontal-play {
  animation: jos-fade-horizontal-play 1s infinite;
  animation-direction: alternate-reverse;
}

@keyframes jos-fade-horizontal-play {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(-100px);
  }
}

.jos-fade-vertical-play {
  animation: jos-fade-vertical-play 1s infinite;
  animation-direction: alternate-reverse;
}

@keyframes jos-fade-vertical-play {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(-100px);
  }
}

.jos-blink-play {
  animation: jos-blink-play 1s steps(1, end) infinite;
}

@keyframes jos-blink-play {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
